*   { 
    margin: 0;
    padding: 10; 
    box-sizing: border-box;
    font-family: "Roboto";
    }

/*
#rgb, #hsl, #hex{ width: 50px; height: 50px;}
    
#hex {background-color: #00ff00;}
    
#rgb{background-color: rgb(125, 14, 165);}
    
#hsl {background-color: hsl(250, 50%, 50%);}
*/

head {align-items: center;}
body {text-align: center;}

h1{color: #ff0000}

span {font-size: xx-large; font-weight: bolder; color: #ff0000}

#brand{display: flex; align-items: center; font-size: 0.8rem; margin-bottom: 1rem;}

#exclusive{text-transform: uppercase; color: #0075ff; font-weight: bold; font-size: 2rem; margin-bottom: 1rem;}

#about-container{flex: 2.5; padding: 2rem 4rem;}

#date{text-transform: uppercase; color: #ff0000; font-weight: 500; font-size: x-large;}

#description{font-size: large; font-weight: 500;}

#line {text-decoration: line-through;}

/*

#list {text-align: center;}

#relative {width: 100px; height: 100px; top: 50px; left: 0px;}

#absolute {background-color: #6d077d; position: absolute; top: 250px; right: 125px;}

#fixed {background-color: #455; position: fixed; top: 100px; left: 45px;}

#users-container{display: flex; flex-wrap: wrap; gap: 1rem;}

.user-card{border: 2px solid #ccc; padding: 4rem; width: 180px; text-align: center;}

.user-card img{width: 120px; border-radius: 50;}

#form-container{flex: 5;}
*/
